.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  font-size: 15rem;
  color: #23130e;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
